<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <!-- set this to true for production, and false for development/localization -->
    <cache-messages>true</cache-messages>
    <!-- how far ahead to set the browser's cache -->
    <max-age>2628001</max-age>
    <cache>true</cache>
    <show-deprecation-warning>true</show-deprecation-warning>
    <!-- Settings for the PUC "new" toolbar dropdown: priority, label, tabName, action-url -->  
    <new-toolbar-button>4,newJPivot,jpivot,plugin/jpivot/AnalysisViewService?component=newView</new-toolbar-button>
</settings>
